In [1]:
import pandas as pd
dataset_Facebook = pd.read_csv('dataset_Facebook.csv')

#create dummy variables
import pandas as pd
dataset_Facebook = pd.get_dummies(dataset_Facebook, dtype=int)

#check if it worked
dataset_Facebook.head()

,Page_total_likes,Post_Month,Post_Weekday,Post_Hour,Lifetime_Post_Total_Reach,Lifetime_Post_Total_Impressions,Lifetime_Engaged_Users,Lifetime_Post_Consumers,Lifetime_Post_Consumptions,Lifetime_Post_Impressions_by_people_who_have_liked_your_Page,...,comment,like,share,Total_Interactions,Type_Link,Type_Photo,Type_Status,Type_Video,Payment_Not_Paid,Payment_Paid
0,139441,12,4,3,2752,5091,178,109,159,3078,...,4,79,17,100,0,1,0,0,1,0
1,139441,12,3,10,10460,19057,1457,1361,1674,11710,...,5,130,29,164,0,0,1,0,1,0
2,139441,12,3,3,2413,4373,177,113,154,2812,...,0,66,14,80,0,1,0,0,1,0
3,139441,12,2,10,50128,87991,2211,790,1119,61027,...,58,1572,147,1777,0,1,0,0,0,1
4,139441,12,2,3,7244,13594,671,410,580,6228,...,19,325,49,393,0,1,0,0,1,0

In [2]:
#Predicting likes based on paids
import statsmodels.formula.api as sm
model1 = sm.ols('like~Payment_Paid',data = dataset_Facebook).fit()
print(model1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   like   R-squared:                       0.012
Model:                            OLS   Adj. R-squared:                  0.010
Method:                 Least Squares   F-statistic:                     5.921
Date:                Wed, 27 Aug 2025   Prob (F-statistic):             0.0153
Time:                        10:17:34   Log-Likelihood:                -3561.0
No. Observations:                 495   AIC:                             7126.
Df Residuals:                     493   BIC:                             7134.
Df Model:                           1
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept      157.0843     17.109      9.181      0.000     123.469     190.699
Payment_Paid    78.5632     32.286      2.433      0.015      15.128     141.998
==============================================================================
Omnibus:                      779.465   Durbin-Watson:                   2.045
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           278578.738
Skew:                           8.786   Prob(JB):                         0.00
Kurtosis:                     117.883   Cond. No.                         2.44
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [3]:
#Regression with Type
model2 = sm.ols('Lifetime_Engaged_Users~Type_Status+Type_Video+Type_Link',data=dataset_Facebook).fit()
print(model2.summary())

                              OLS Regression Results
==================================================================================
Dep. Variable:     Lifetime_Engaged_Users   R-squared:                       0.149
Model:                                OLS   Adj. R-squared:                  0.144
Method:                     Least Squares   F-statistic:                     28.69
Date:                    Wed, 27 Aug 2025   Prob (F-statistic):           4.15e-17
Time:                            10:17:37   Log-Likelihood:                -4075.1
No. Observations:                     495   AIC:                             8158.
Df Residuals:                         491   BIC:                             8175.
Df Model:                               3
Covariance Type:                nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept     825.3682     44.539     18.531      0.000     737.858     912.878
Type_Status  1214.8541    143.326      8.476      0.000     933.246    1496.462
Type_Video    881.6318    348.266      2.531      0.012     197.356    1565.908
Type_Link    -482.5500    199.861     -2.414      0.016    -875.239     -89.861
==============================================================================
Omnibus:                      555.330   Durbin-Watson:                   1.713
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            45860.557
Skew:                           5.064   Prob(JB):                         0.00
Kurtosis:                      49.054   Cond. No.                         8.53
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [4]:
#Exercise 1
insurance = pd.read_csv('insurance.csv')
insurance = pd.get_dummies(insurance, dtype=int)
insurance.head()

,age,bmi,children,charges,sex_female,sex_male,smoker_no,smoker_yes,region_northeast,region_northwest,region_southeast,region_southwest
0,19,27.900,0,16884.92400,1,0,0,1,0,0,0,1
1,18,33.770,1,1725.55230,0,1,1,0,0,0,1,0
2,28,33.000,3,4449.46200,0,1,1,0,0,0,1,0
3,33,22.705,0,21984.47061,0,1,1,0,0,1,0,0
4,32,28.880,0,3866.85520,0,1,1,0,0,1,0,0

In [5]:
#model with only sex
model3a = sm.ols('charges~sex_male',data=insurance).fit()
print(model3a.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.003
Model:                            OLS   Adj. R-squared:                  0.003
Method:                 Least Squares   F-statistic:                     4.400
Date:                Wed, 27 Aug 2025   Prob (F-statistic):             0.0361
Time:                        10:17:42   Log-Likelihood:                -14475.
No. Observations:                1338   AIC:                         2.895e+04
Df Residuals:                    1336   BIC:                         2.897e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   1.257e+04    470.072     26.740      0.000    1.16e+04    1.35e+04
sex_male    1387.1723    661.331      2.098      0.036      89.812    2684.532
==============================================================================
Omnibus:                      331.451   Durbin-Watson:                   2.011
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              636.534
Skew:                           1.496   Prob(JB):                    6.00e-139
Kurtosis:                       4.572   Cond. No.                         2.63
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [6]:
#model with sex and smoker
model3b = sm.ols('charges~sex_male+smoker_yes',data=insurance).fit()
print(model3b.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.620
Model:                            OLS   Adj. R-squared:                  0.619
Method:                 Least Squares   F-statistic:                     1088.
Date:                Wed, 27 Aug 2025   Prob (F-statistic):          4.78e-281
Time:                        10:17:44   Log-Likelihood:                -13831.
No. Observations:                1338   AIC:                         2.767e+04
Df Residuals:                    1335   BIC:                         2.768e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   8466.0358    303.541     27.891      0.000    7870.566    9061.506
sex_male     -65.3784    409.809     -0.160      0.873    -869.318     738.561
smoker_yes  2.362e+04    507.736     46.524      0.000    2.26e+04    2.46e+04
==============================================================================
Omnibus:                      135.842   Durbin-Watson:                   2.025
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              211.897
Skew:                           0.727   Prob(JB):                     9.71e-47
Kurtosis:                       4.299   Cond. No.                         2.97
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [7]:
#Create a table to show the percentage of male smokers
table = pd.crosstab(index=insurance['sex_male'],columns=insurance['smoker_yes'])
(table/table.sum()).round(2)

smoker_yes     0     1
sex_male
0           0.51  0.42
1           0.49  0.58

In [8]:
#Standardization examples
import pandas as pd
Uni_salaries = pd.read_excel('University Salaries.xlsx')
Uni_salaries.head()

   Salary  Performance Department  Age  Student_Approval  Experience  Gender
0   56345           12       Arts   30              88.0           5  Female
1   76272           12   Business   30              85.3           4    Male
2   72327           12  Chemistry   30              85.0           4    Male
3   76312           13  Chemistry   31              87.3           5    Male
4   73309           20   Business   31              78.9           6    Male

In [9]:
#standardization examples
import statsmodels.formula.api as sm
model1a = sm.ols('Salary~Performance + Student_Approval',data=Uni_salaries).fit()
print(model1a.summary())

#Divide student approval by 10
Uni_salaries = Uni_salaries.assign(Student_Approval10 = Uni_salaries.Student_Approval/10)

#second model
model1b = sm.ols('Salary~Performance + Student_Approval10',data=Uni_salaries).fit()
print(model1b.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.166
Model:                            OLS   Adj. R-squared:                  0.156
Method:                 Least Squares   F-statistic:                     16.60
Date:                Wed, 27 Aug 2025   Prob (F-statistic):           2.65e-07
Time:                        10:17:51   Log-Likelihood:                -1883.6
No. Observations:                 170   AIC:                             3773.
Df Residuals:                     167   BIC:                             3783.
Df Model:                           2
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept         4585.4858   1.67e+04      0.275      0.784   -2.84e+04    3.75e+04
Performance       2800.1609    543.275      5.154      0.000    1727.590    3872.732
Student_Approval   413.3711    172.883      2.391      0.018      72.053     754.689
==============================================================================
Omnibus:                       11.207   Durbin-Watson:                   1.858
Prob(Omnibus):                  0.004   Jarque-Bera (JB):                9.799
Skew:                           0.509   Prob(JB):                      0.00745
Kurtosis:                       2.413   Cond. No.                     1.19e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.19e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.166
Model:                            OLS   Adj. R-squared:                  0.156
Method:                 Least Squares   F-statistic:                     16.60
Date:                Wed, 27 Aug 2025   Prob (F-statistic):           2.65e-07
Time:                        10:17:51   Log-Likelihood:                -1883.6
No. Observations:                 170   AIC:                             3773.
Df Residuals:                     167   BIC:                             3783.
Df Model:                           2
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Intercept           4585.4858   1.67e+04      0.275      0.784   -2.84e+04    3.75e+04
Performance         2800.1609    543.275      5.154      0.000    1727.590    3872.732
Student_Approval10  4133.7112   1728.832      2.391      0.018     720.529    7546.893
==============================================================================
Omnibus:                       11.207   Durbin-Watson:                   1.858
Prob(Omnibus):                  0.004   Jarque-Bera (JB):                9.799
Skew:                           0.509   Prob(JB):                      0.00745
Kurtosis:                       2.413   Cond. No.                         245.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [10]:
#Standardized Regression
from sklearn.preprocessing import StandardScaler #import the StandardScaler function
Uni_salaries_s = Uni_salaries #create a new dataset that will contain the standardized data
Uni_salaries_s[['Performance','Student_Approval']] = StandardScaler().fit_transform(Uni_salaries_s[['Performance','Student_Approval']]) #standarize the two variables
Uni_salaries_s.head() #double check

,Salary,Performance,Department,Age,Student_Approval,Experience,Gender,Student_Approval10
0,56345,-1.546640,Arts,30,0.440115,5,Female,8.80
1,76272,-1.546640,Business,30,0.055914,4,Male,8.53
2,72327,-1.546640,Chemistry,30,0.013225,4,Male,8.50
3,76312,-1.099482,Chemistry,31,0.340507,5,Male,8.73
4,73309,2.030623,Business,31,-0.854783,6,Male,7.89

In [11]:
#Standardized Regression
model1c = sm.ols('Salary~Performance+Student_Approval',data=Uni_salaries_s).fit()
print(model1c.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.166
Model:                            OLS   Adj. R-squared:                  0.156
Method:                 Least Squares   F-statistic:                     16.60
Date:                Wed, 27 Aug 2025   Prob (F-statistic):           2.65e-07
Time:                        10:17:58   Log-Likelihood:                -1883.6
No. Observations:                 170   AIC:                             3773.
Df Residuals:                     167   BIC:                             3783.
Df Model:                           2
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept         8.297e+04   1214.173     68.335      0.000    8.06e+04    8.54e+04
Performance       6262.1301   1214.950      5.154      0.000    3863.489    8660.771
Student_Approval  2904.9989   1214.950      2.391      0.018     506.358    5303.640
==============================================================================
Omnibus:                       11.207   Durbin-Watson:                   1.858
Prob(Omnibus):                  0.004   Jarque-Bera (JB):                9.799
Skew:                           0.509   Prob(JB):                      0.00745
Kurtosis:                       2.413   Cond. No.                         1.04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [12]:
#Exercise 1
from sklearn.preprocessing import StandardScaler #import the StandardScaler function
insurance = pd.read_csv('insurance.csv')
insurance_s = insurance.copy()
insurance_s[['age','bmi']] = StandardScaler().fit_transform(insurance_s[['age','bmi']])
model2 = sm.ols('charges~age+bmi',data=insurance_s).fit()
print(model2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                charges   R-squared:                       0.117
Model:                            OLS   Adj. R-squared:                  0.116
Method:                 Least Squares   F-statistic:                     88.60
Date:                Wed, 27 Aug 2025   Prob (F-statistic):           7.39e-37
Time:                        10:18:02   Log-Likelihood:                -14394.
No. Observations:                1338   AIC:                         2.879e+04
Df Residuals:                    1335   BIC:                         2.881e+04
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   1.327e+04    311.298     42.629      0.000    1.27e+04    1.39e+04
age         3397.8474    313.174     10.850      0.000    2783.481    4012.213
bmi         2029.7244    313.174      6.481      0.000    1415.358    2644.091
==============================================================================
Omnibus:                      321.874   Durbin-Watson:                   2.010
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              592.574
Skew:                           1.511   Prob(JB):                    2.11e-129
Kurtosis:                       4.223   Cond. No.                         1.12
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [13]:
from stargazer.stargazer import Stargazer
from IPython.core.display import HTML

table=Stargazer([model2])

HTML(table.render_html())